*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
 
.body {
  background-color: #f2f4f5;
  max-width: 1600px;
  width: 100%;
}
.header {
  height: 100px;
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 75px;
  background-color: rgb(18, 97, 89)
}

.header__button {
  padding: 5px 15px;
  background-color: rgb(218, 234, 234);
  border: 0;
  border-radius: 5px;
}
.header__button:hover{
  background-color: bisque;
}
.header__search {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}


  
.logo {
    height: 50px;
    width: 80px;
    background-image: url(/src/components/logo1.PNG);
    background-size: contain;
  }
.logo img {
  width: 100%;
  height: 100%;
}
.header__container{
  max-width: 200px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.form {
  max-width: 1600px;
  width: 100%;
  height: 100vh;
  background-color: rgb(141, 137, 133);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  width: 400px;
  height: 300px;
}

.registration {
  width: 400px;
  height: 375px;
}

/*profile  ////////////////////////////////////*/

.profile {
  max-width: 1600px;
  width: 100%;
  padding: 50px 100px;
  background-color: #f2f4f5;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 40px;
}
.profile__name {
  max-width: 300px;
  width: 100%;
  height: 50px;
}
.profile__username {
  max-width: 300px;
  width: 100%;
  height: 50px;
}
.profile__btn {
  background-color: rgb(14, 179, 234);
  width: 150px;
  padding: 12px 24px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid floralwhite;
  color: #FFF;
}
.secondary {
  background-color: inherit;
  color: deepskyblue;
}
.profile__btn:hover {
  color: deepskyblue;
  background-color: #FFF;
}

.profile__edit {
  padding: 100px 150px;
  display: flex;
  flex-flow: column nowrap;
}
.profile__edit-drop {
  max-height: 150px;
  max-width: 600px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.profile__edit-avatar {
  
  display: flex;
  justify-items: flex-start;
}
.profile__edit-avatar img {
  max-width: 200px;
  max-height: 200px;
  height: 100%;
  width: 100%;
  
}
.container {
  max-width: 1600px;
  width: 100%;
  background-color: #f2f4f5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  padding: 30px 40px;
}


.card {
  width: 450px;
  height: 450px;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  padding: 15px 20px;
  background-color: #FFF;
  border: 1px solid rgba(75, 172, 225, 0.379);
  border-radius: 10px;
  box-shadow: 3px rgb(92, 191, 234);
}
.card__title{
  width: 100%;
  height: 50px;
  margin-top:20px;
}
.card__tag {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.card__date{
  width: 100%;
  height: 15px;
  margin-top: 25px;
}
.card__price{
  width: 100%;
  height: 35px;
  margin-top: 20px;
}
.card__noimage {
  width: 100%;
  height: 250px;
  text-align: center;
}

.card__page {
  background-color: #f2f4f5;
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  max-width: 1600px;
  width: 100%;
  padding: 50px 150px;
}

.card__page-container{
  background-color: #FFF;
 width: 100%;
 height: 100%;
}
.card__page-carousel {
  max-width: 800px;
  height: 400px;
  margin: 0 auto;
}
.card__page-icon {
  justify-self: flex-end;
  margin: 10px 0;
}

.card__page-date {
  width: 100%;
  height: 15px;
  margin-top: 5px;
}
.card__page-date p {
  line-height: 10px;
  font-size: 12px;
}
.card__page-title {
  width: 100%;

  margin-top: 15px;
}
.card__page-tag {
  display: inline-block;
  padding: 5px 0;
}
.card__page-tag p {
  font-size: 15px;
}
.card__page-title p {
  font-size: 28px;
}
.card__page-description {
  width: 100%;
  min-height: 20px;
  margin-top: 15px;
}
.card__page-description p {
  font-size: 15px;
}
.card__page-contacts {
  margin-top: 20px;
}
.card__page-contacts p{
  font-size: 15px;
}
.card__page-price {
  margin-top: 20px;
  
}
.card__page-price p {
  font-size: 28px;
}
.card__page-add {
  width: 100%;
  min-height: 75px;
  margin-top: 20px;
}
.card__page-comment {
  width: 100%;

}


.create {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.create__title {
  font-size: 2em;
}
.create__img {
  max-width: 500px;
  width: 100%;
  
}
.create__input {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 500px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.comment {
  width: 100%;
  min-height: 100px;
  background-color: #FFF;
  border-radius: 5px;
  border-style: double solid;
  border: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}
.comment p {
  margin: 0;
}
.comment__info {
    display: flex;
    flex-direction: row;
    gap: 40px;
    border-bottom: 1px solid #d9d9d9;
}
.comment__text {
padding-left: 20px;
}
.comment__reply {
  color: rgba(145, 139, 139, 0.848);
}
.comment__reply:hover {
  color: rgba(43, 43, 227, 0.86);
}
.comment__container {
  width: 100%;
  padding: 0 0 10px 50px;
}
